/* Everything */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    text-align: center;
}


/* Body */
body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(9,16,24,35),rgba(0,0,0,0.75)),url(../media/4266805.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Navigation */
.navbar {
    /*background-color: rgba(255, 0, 0, 0.1);*/
    height: 15vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo {
    max-height: 130%;
    min-width: 100%;
    object-fit: contain;
}

.navbar .logoContainer {
    height: 100%;
    width: 30%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.navbar .logoContainer a {
    height: 100%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
    display: flex;
    margin: 0 1rem;
    position: relative;
    align-items: center;
}


/* Navigation text design */
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

/* Style the active link and its line */
.navbar ul li.active {
    font-weight: bold;
}

.navbar ul li.active::after {
    width: 100%;
}


/* Content */
.content {
    /* background-color: rgba(0, 255, 0, 0.1); */
    height: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
}

.content h1 {
    font-size: 4.3rem
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}

.beskrivelse {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

.buttonsHomepage {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.tittel {
    margin-top: -2vw;;
}

/* Homepage buttons */
button {
    width: 13rem;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: rgba(0, 28, 61, 0.5);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;
    backdrop-filter: blur(2px);
}


button:hover span {
    width: 100%;
}


/* Content produkter */
.beskrivelse {
    margin: 1rem 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 6px rgba(97, 105, 114, 0.15);
    width: 100%;
    padding: 0.5rem 1rem;
}

.beskrivelse p {
    padding: 0.1rem 1rem;
}

.produktBilder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.produktBildeTekst {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    margin-bottom: 1rem;
    max-width: 8630;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 6px rgba(97, 105, 114, 0.15);
    margin: 1vh 0.4vw;
    min-height: 300px;
    max-height: 400px;
    height: 25vw;
}

.produktTekst {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: calc(10px);
    overflow: auto;
}

.produktTekst p{
    max-height: 100%;
}

span {
    margin: 0 10px;
}

span:first-of-type {
    margin-left: 0;
}

span:last-of-type {
    margin-right: 0;
}

.produktBilde {
    height: 100%;
    border-radius: 30px;
}


/* Content om oss */
.ansatte {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 6px rgba(97, 105, 114, 0.15);
}

.ansatte1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 2%;
    
}

.ansatte2 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: -2%;
}

.ansatt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ansatt p {
    margin: 1px 0;
}

.ansattBilde {
    width: 9vw;
    border-radius: 100px;
}


/* Content kontakt oss */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
  }

.beskrivelseKontakt {
    margin: 1rem 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 0.1rem 1rem;
    max-width: 910px;
    width: 96%;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 6px rgba(97, 105, 114, 0.15);
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  

.container {
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    width: 94%;
    max-width: 900px;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 6px rgba(97, 105, 114, 0.15);
}

form, textarea, input {
    text-align: left;
}
  

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #181818;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 50px;
}


/* Navigation Phone */
.navbarPhone {
    height: 12vh;
    display: none;
    justify-content: space-between;
    background-color: rgb(11, 13, 15);
    width: 100%;
    box-shadow: 0 1px 6px rgba(97, 105, 114, 0.2);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.navbarPhone .logoContainer {
    padding-left: 55px;
    padding-top: 0.6vh;
}

.navbarPhone .logoContainer a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.logoPhone {
    max-height: 80%;
    object-fit: contain;
}

.hamburgerImg {
    max-height: 65%;
    object-fit: contain;
}

.navbarPhone .hamburger {
    padding: 0 45px;
    display: flex;
    align-items: center;
    
}

.navbarPhone .hamburger:hover {
    background-color: rgba(22, 29, 36, 0.8);
}

.navigationPhone {
    height: 0;
    visibility: hidden;
    width: 100%;
    background-color: rgb(15, 17, 19, 0.98);
    backdrop-filter: blur(10px);
    transition: height 0.3s, visibility 0.1s;
    display: none;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5vh;
    position: absolute;
    top: 12vh;
    z-index: 2;
}

.navigationPhone ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navigationPhone ul li{
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: rgb(51, 51, 51);
}

.navigationPhone ul li a {
    width: 80%;
    height: 70%;
    padding: auto;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.navigationPhone ul li.active {
}


/* Phone screens */
  @media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-around;
        margin: 0;
        display: none;
    }

    .navbar ul {
        flex-direction: column;
    }
    
    .navbar ul li {
        padding: 5% 0;
    }

    .navbar ul li a {
        font-size: 1rem;
    }

    .navbar ul li::after {
        bottom: 2px;
    }

    .logo {
        height: auto;
        width: 40%;
    }

    .content {
        min-height: 88vh;
    }

    .navigationPhone {
        display: flex;
    }

    .navigationPhone {
        height: 0;
        visibility:hidden
    }

    .navigationPhone.active {
        height: 65vh;
        visibility: visible;
    }

    .navbarPhone {
        display: flex;
    }
  }


  /* Mindre skjerm */
  @media only screen and (max-width: 1250px) {
    .navbar {
        justify-content: space-around;
        margin: 0;
    }

    .produktBilder {
        flex-direction: column;
    }

    .produktBildeTekst {
        border-radius: 30px;
    }

    .tittel {
        margin-top: 3vh;
    }
  }