/* Everything */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}


/* Body */
body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(9,16,24,35),rgba(0,0,0,0.75)),url(../media/4266805.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Navigation */
.navbar {
    /*background-color: rgba(255, 0, 0, 0.1);*/
    height: 15vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo {
    margin: -1rem;
    max-height: 130%;
    min-width: 100%;
    object-fit: contain;
}

.logoContainer {
    height: 100%;
    width: 20%;
}


.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}


/* Navigation text design */
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}


/* Content */
.content {
    /* background-color: rgba(0, 255, 0, 0.1); */
    height: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
}

.content h1 {
    font-size: 4.3rem
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}

.beskrivelse {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

.buttonsHomepage {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.tittel {
    margin-top: -3%;
}

/* Homepage buttons */
button {
    width: 13rem;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: #254561;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;
}

button:hover span {
    width: 100%;
}


/* Content produkter */
.beskrivelse {
    margin: 1rem 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 0.1rem 1rem;
    max-width: 70%;
    min-width: 95%;
    backdrop-filter: blur(5px);
}

.produktBilder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.produktBildeTekst {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1vw;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    margin-bottom: 1rem;
    max-width: 70%;
    backdrop-filter: blur(5px);
}

.produktBildeTekst p {
    margin: 1vw;
}

.produktBilde {
    max-height: 400px;
    max-width: 200px;
    width: auto;
    border-radius: 30px;
}


/* Content om oss */
.ansatte {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    padding: 15px;
    max-width: auto;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 95%;
    backdrop-filter: blur(5px);
}

.ansatte1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 2%;
    
}

.ansatte2 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: -2%;
}

.ansatt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ansatt p {
    margin: 5px 0;
}

.ansattBilde {
    width: 9vw;
    border-radius: 100px;
}


/* Content kontakt oss */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    color: black;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    width: 94%;
    max-width: 900px;
    backdrop-filter: blur(5px);
  }


/* Phone screens */
  @media only screen and (max-width: 600px) {
    .navbar {
        justify-content: space-around;
        margin: 0;
    }

    .navbar ul {
        flex-direction: column;
    }
    
    .navbar ul li {
        padding: 5% 0;
    }

    .navbar ul li a {
        font-size: 1rem;
    }

    .navbar ul li::after {
        bottom: 2px;
    }

    .logo {
        height: auto;
        width: 40%;
    }

    .produktBildeTekst {
        max-width: 90%;
    }
    
  }

  /* 1560px */
  @media only screen and (max-width: 1560px) {
    .navbar {
        justify-content: space-around;
        margin: 0;
    }

    .produktBilder {
        display: flex;
        flex-direction: column;
    }

    .produktBildeTekst {
        border-radius: 30px;
    }

    .tittel {
        margin-top: 0;
    }
 
  }